@use './assets/scss' as *;

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: $font-family;
    outline: none;
}

.container {
    max-width: 1500px;
    padding: 0 24px;
    margin: auto;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 0.42px;
    line-height: 24px;

    @include mobile {
        font-size: 14px;
        line-height: 20px;
    }
}

select {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.42px;

    @include mobile {
        font-size: 14px;
        line-height: 20px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 5px;
    }

}