@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

$body-bg: #FFF;
$main-color: #39979C;
$txt-color: #fff;
$error-color: #F11212;

$header-height: 152px;
$header-height-tablet: 80px;
$header-height-mobile: 56px;

$mobile-width: 576px;
$middle-width: 881px;
$tablet-width: 992px;

$font-family: 'Inter';