@use '../../../assets/scss/' as *;

.truck-form-container {

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;

        label {
            @include mobile {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.42px;
        }

        .button-container {
            margin-top: 16px;

            @include mobile {
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;
                margin-top: 0;

                button {
                    padding: 8px;
                }
            }
        }

        .input-group {
            display: flex;
            width: 100%;
            gap: 16px;

            @include mobile {
                flex-direction: column;
                gap: 8px;
            }

            .button-plus {
                width: 100%;
                display: flex;
                align-items: end;

                @include mobile {
                    width: auto;
                }
            }

            .button-delete {
                display: flex;
                align-items: end;

                button:last-child {
                    display: none;
                }

                @include mobile {
                    button:last-child {
                        display: flex;
                    }

                    button:first-child {
                        display: none;
                    }
                }
            }

            .second-driver-group {
                width: 100%;
                display: flex;
                gap: 16px;

                @include mobile {
                    gap: 8px;
                }

                .tax {
                    display: flex;
                    align-self: end;
                    padding: 15px 13.5px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    background: #F6F9F9;
                    border: 1px solid #D7E2E2;

                    @include mobile {
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 20px;
                        padding: 7px;
                    }
                }
            }

            .form-control-input {
                width: 100%;
            }

            .form-control-select {
                width: 100%;
            }
        }

        @include mobile {
            .second {
                display: flex;
                flex-direction: row;
            }
        }
    }
}


.scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}